<div>
    <h1>Tic Tac Toe Level 3</h1>

    <div class="pt-2"></div>
    <span><b>Best of </b> 

    <mat-form-field>
        <mat-select name="roundVariable" [(value)]="selectedRound">
            <mat-option 
            *ngFor="let round of rounds" 
            [value]="round.value"
            (click)="setUpHumanCompGame(round.viewValue)">
                {{round.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <b> games</b></span>

    <div class="pt-2"></div>
    <span><b>Player 1:</b> {{playerOne}}</span> <span style="margin-left:1em"><b>Score P1:</b> {{playerOneScore}}</span><br>

    <div class="pt-2"></div>
    <span><b>Player 2:</b> {{playerTwo}}</span> <span style="margin-left:1em"><b>Score P2:</b> {{playerTwoScore}}</span><br>

    <div class="pt-2"></div>
    <div class="board-width">
        <mat-grid-list cols="3" rowHeight="100px" gutterSize="4px">
            <mat-grid-tile 
                *ngFor="let tile of tiles"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color"
                [ngStyle]="{'font-size': tile.font + 'px'}"
                (click)="move(tile.position)">
                    {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="pt-2"></div>
    <button class="btn btn-primary mb-3 new-game"
            (click)="resetGame()">Reset Game</button>

</div>
